.options-container {
  padding: 10px;
}

.options-box {
  padding: 10px 10px 5px 10px;
  height: fit-content;
  max-width: 55px;
  min-width: 55px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  margin: 5px;
}

.options-box:hover {
  cursor: pointer;
}

/* Responsive styles */
/* @media (max-width: 768px) {
  .options-box {
    max-width: 67px;
    min-width: 67px;
  }
}

@media (max-width: 576px) {
  .options-box {
    min-width: 97px;
    max-width: 97px;
  }
} */
